{% extends "index.html" %}
{% set active_page = 'apology.html' %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>Error: {{top}}</h1>
      <hr>
      <h2>{{bottom}}</h2>
      <a class="btn btn-primary" onclick="history.back()">Back </a>
      <img src="/static/assets/img/not-found.svg" class="img-fluid py-5" alt="{{bottom}}">
    </section>

  </div>
{% endblock %}
